<div class="container-fluid m-0 p-0 frame" ngxUiLoaderBlurred [formGroup]="modifyDemandeAffectationCarteJockerForm">
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0 header">
      <span class="float-left">
        <mat-icon class="mr-2">fiber_new</mat-icon>
        Modifier la carte Jocker sélectionnée</span>
      <span class="float-right closeDialog" (click)="closeDialog()">X</span>
    </div>
    <div class="col-12 mt-3">
      Données de véhicule
      <mat-divider class="mb-4"></mat-divider>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Véhicule</mat-label>
        <mat-select formControlName="numeroPlaque">
          <mat-option *ngFor="let serviceList of vehiculeServiceList" [value]="serviceList">
            {{serviceList.numeroPlaque}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Bénéficiaire</mat-label>
        <input matInput type="text" [value]="nomBeneficiaire" readonly>
        <mat-hint align="end">{{matriculeBeneficiaire}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Structure</mat-label>
        <input matInput type="text" [value]="designationStructure" readonly>
        <mat-hint align="end">{{codeStructure}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-12 mt-4">
      Données de carte Jocker
      <mat-divider class="mb-4"></mat-divider>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Numero carte</mat-label>
        <mat-select formControlName="numeroCarte">
          <mat-option *ngFor="let carteJocker of carteJockerList" [value]="carteJocker">
            {{carteJocker.numeroCarte}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Solde</mat-label>
        <input matInput type="text" [value]="solde" readonly>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date fin validité</mat-label>
        <input matInput type="text" [value]="dateFinValidite|date: 'dd-MM-yyyy'" readonly>
      </mat-form-field>
    </div>
    <div *ngIf="!data.element.validated" class="offset-6 col-3">
      <div class="float-right mt-4 mb-3">
        <button mat-raised-button (click)="onCancelAdding()" style="width: 90%">Annuler</button>
      </div>
    </div>
    <div *ngIf="!data.element.validated" class="col-3">
      <div class="float-right mt-4 mb-3">
        <button mat-raised-button (click)="onConfirmAdding()" style="width: 100%"
                [disabled]="!modifyDemandeAffectationCarteJockerForm.valid">Confirmer
        </button>
      </div>
    </div>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
