@import "src/assets/Scss/Variables";
@import "src/assets/Scss/Shared Classes";


div.container-fluid.m-0.m-0 {
  border: 2px solid $First_Color;
  border-radius: 5px;
}

span.float-right {
  font-size: 15px;
  font-weight: 500;
  color: $First_Color;
}


.title {
  height: 38px;
  background-color: $First_Color;
}


div > div > span.float-right.closeDialog {
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: $First_Color;
  background-color: white;
  padding: 0px 3px 3px 3px;
  width: 17px;
  height: 17px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;


  &:hover {
    color: $First_Color;
  }
}

div > span.float-left {
  color: white;
  padding-left: 10px;
  vertical-align: middle;
  display: flex !important;
  align-items: center;
  padding-top: 7px;
}

div > span.float-left > mat-icon {
  transform: scale(0.7);
}

button {
  vertical-align: middle;
  display: flex !important;
  align-items: center;
  outline: none;
}

button > span > mat-icon {
  transform: scale(0.6);
}

.float-right > button:nth-child(1) {
  background-color: white;
  color: $First_Color;

}

.float-right > button:nth-child(1) {
  background-color: white;
  color: $First_Color;
  border: 1px solid $First_Color;
  font-size: 12px;
}


div.offset-6.col-3 > div > button {
  background-color: white;
  color: $First_Color;
  border: 1px solid $First_Color;
  font-size: 12px;
}


div.col-3 > div > button {
  background-color: $First_Color;
  color: white;
  border: none;
  font-size: 12px;
}

.example-full-width {
  width: 100%;
  font-size: 12px;
}

.addButton {
  max-width: 61px;
  max-height: 46px;
  margin-top: 1px;
  border-radius: 5px;
  padding-top: 9px;
  padding-left: 18px;
}

.elementContainer {
  height: 38px;
  font-size: 12px;
  border-left: 1px solid #DAD9D9;
  border-right: 1px solid #DAD9D9;
  cursor: pointer;
  vertical-align: middle;
  display: flex !important;
  align-items: center;


  &:hover {
    background-color: #3f51b5;
    color: white;
  }

}

.elementContainerActif {
  height: 38px;
  font-size: 12px;
  border-left: 1px solid #DAD9D9;
  border-right: 1px solid #DAD9D9;
  cursor: pointer;
  vertical-align: middle;
  display: flex !important;
  align-items: center;
  background-color: #e8e8e8;
}

.borderTopContainer {
  border-top: 1px solid #DAD9D9;
}

.borderButtonContainer {
  border-bottom: 1px solid #DAD9D9;
}

.authoritiesContainer {
  height: 342px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #DAD9D9;
  border-radius: 5px;
  width: 100%;
}

.matIconContainer {
  transform: scale(0.6);
  margin-right: 4px;
}

.singleAuthorityCheckbox {
  font-size: 10px;
  margin-top: -2px !important;
}

.singleAuthorityElement {
  font-size: 11px;
  font-weight: 500;
  font-style: italic;
  margin-top: 1px !important;
  padding-left: 10px !important;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 13px;
  height: 13px;
}


.mainContainer::-webkit-scrollbar {
  width: 10px;
}


.mainContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.mainContainer::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.mainContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}







