<div class="container-fluid m-0 p-0 frame" [formGroup]="modifiedOrdreMissionForm"
     style="max-height: 580px;overflow-y: auto">
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0 titleHeader">
      <span class="float-left">
        <mat-icon class="mr-2">edit</mat-icon>
        Modifier l'ordre de mission sélectionné
      </span>
      <span class="float-right closeDialog" (click)="closeDialog()">X</span>
    </div>
    <div class="col-6 mt-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>N° ordre</mat-label>
        <input matInput type="text" formControlName="numeroOrdre">
      </mat-form-field>
    </div>
    <div class="col-6 mt-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date ordre
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput [ngxMatDatetimePicker]="picker1" formControlName="dateOrdre">
        <mat-datepicker-toggle matSuffix [for]="picker1">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker1
                                 [showSpinners]="showSpinners"
                                 [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute"
                                 [stepSecond]="stepSecond">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Véhicule</mat-label>
        <input matInput type="text" [value]="data.element.numeroPlaque" readonly>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Conducteur</mat-label>
        <input matInput type="text" [value]="data.element.nomBeneficiaire" readonly>
        <mat-hint align="end">{{data.element.matriculeBeneficiaire}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Structure</mat-label>
        <input matInput type="text" [value]="data.element.designationStructure" disabled>
        <mat-hint align="end">{{data.element.codeStructure}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date &heure de départ
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput [ngxMatDatetimePicker]="picker2"
               formControlName="heureDateDepart">
        <mat-datepicker-toggle matSuffix [for]="picker2">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker2
                                 [showSpinners]="showSpinners"
                                 [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute"
                                 [stepSecond]="stepSecond">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Index départ</mat-label>
        <input matInput type="number" formControlName="indexDepart">
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Lieu départ</mat-label>
        <input matInput type="text" formControlName="lieuDepart">
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Destination
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput type="text" formControlName="destination">
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date début de validité
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput [ngxMatDatetimePicker]="picker3"
               formControlName="dateDebutValidite">
        <mat-datepicker-toggle matSuffix [for]="picker3">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker3
                                 [showSpinners]="showSpinners"
                                 [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute"
                                 [stepSecond]="stepSecond">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date fin de validité
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput [ngxMatDatetimePicker]="picker4"
               formControlName="dateFinValidite">
        <mat-datepicker-toggle matSuffix [for]="picker4">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker4
                                 [showSpinners]="showSpinners"
                                 [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute"
                                 [stepSecond]="stepSecond">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date de retour</mat-label>
        <input matInput [ngxMatDatetimePicker]="picker5"
               formControlName="heureDateRetour">
        <mat-datepicker-toggle matSuffix [for]="picker5">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker5
                                 [showSpinners]="showSpinners"
                                 [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute"
                                 [stepSecond]="stepSecond">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>index retour</mat-label>
        <input matInput type="number" formControlName="indexRetour">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Objectif de la mission</mat-label>
        <textarea matInput formControlName="objectifMission" rows="1"></textarea>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Marchandise transportée</mat-label>
        <textarea matInput formControlName="marchandiseTransportee" rows="1"></textarea>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title style="text-align: center;color: #636363;font-size: 12px">
              Liste des accompagnons
            </mat-panel-title>
          </mat-expansion-panel-header>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>N°</th>
              <td mat-cell *matCellDef="let element; let i=index"> {{i + 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="CIN">
              <th mat-header-cell *matHeaderCellDef>CIN</th>
              <td mat-cell *matCellDef="let element; let i=index">
                {{element.cin}}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="prénom">
              <th mat-header-cell *matHeaderCellDef>Prénom</th>
              <td mat-cell *matCellDef="let element; let i=index">
                {{element.prenom}}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let element; let i=index">
                {{element.nom}}
              </td>
            </ng-container>

            <ng-container matColumnDef="supprimer">
              <th mat-header-cell *matHeaderCellDef>Supprimer</th>
              <td mat-cell *matCellDef="let element; let i=index" style="margin-left: auto;margin-right: auto">
                <mat-icon *ngIf="listAccompagnons.length===1" class="mouseUp" style="cursor: not-allowed">
                  person_remove
                </mat-icon>
                <mat-icon *ngIf="listAccompagnons.length!==1" class="mouseUp" (click)="deleteRow(i)">
                  person_remove
                </mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="ajouter">
              <th mat-header-cell *matHeaderCellDef>Ajouter</th>
              <td mat-cell *matCellDef="let element; let i=index" style="margin-left: auto;margin-right: auto">
                <mat-icon class="mouseUp" (click)="addRow()">person_add_alt_1
                </mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="offset-6 col-3">
      <div class="float-right mt-4 mb-3">
        <button mat-raised-button (click)="onCancel()" style="width: 90%">Annuler</button>
      </div>
    </div>
    <div class="col-3">
      <div class="float-right mt-4 mb-3">
        <button mat-raised-button (click)="onConfirm()" style="width: 100%"
                [disabled]="!modifiedOrdreMissionForm.valid">
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>
