<div *ngIf="VIEW_TAXE_CIRCULATION" class="container-fluid" ngxUiLoaderBlurred>
  <div class="row frame">
    <div class="col-12">
      Filtrage de liste taxes de circulation
      <mat-divider class="mb-4"></mat-divider>
    </div>
    <div class="col-12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label> Filtrer les données du cartes Plafond</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
        <!--        <mat-icon (click)="searchTaxeCirculation()" class="mouseUp" matSuffix-->
        <!--                  style="transform: scale(1.2)">add_circle-->
        <!--        </mat-icon>-->
      </mat-form-field>

    </div>
  </div>

  <div class="row frame">
    <div class="col-12">
      Liste taxes de circulation
      <mat-divider class="mb-4"></mat-divider>
    </div>
    <div class="col-12">
      <div *ngFor="let item of numberToTable(paginConfig.totalItems) | paginate: paginConfig"></div>
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>N°</th>
          <td mat-cell *matCellDef="let row;let i=index"> {{i + 1}} </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="numeroQuittance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Numéro de quittance</th>
          <td mat-cell *matCellDef="let row"> {{row.numeroQuittance}} </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="numeroPlaque">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Numéro de série</th>
          <td mat-cell *matCellDef="let row"> {{row.numeroPlaque}} </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="dateDebutCirculation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>date début circulation</th>
          <td mat-cell *matCellDef="let row"> {{row.dateDebutCirculation}} </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="dateFinCirculation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>date fin circulation</th>
          <td mat-cell *matCellDef="let row"> {{row.dateFinCirculation}} </td>
        </ng-container>


        <!-- ID Column -->
        <ng-container matColumnDef="dateFinValidite">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date fin validité</th>
          <td mat-cell *matCellDef="let row"> {{row.dateFinValidite}} </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Montant</th>
          <td mat-cell *matCellDef="let row"> {{row.montant}} </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="vehicule">
          <th mat-header-cell *matHeaderCellDef>Véhicule</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon class="mouseUp" (click)="redirectToVehicule(row.idVehicule)">directions_car</mat-icon>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container *ngIf="MODIFY_TAXE_CIRCULATION" matColumnDef="modifier">
          <th mat-header-cell *matHeaderCellDef>Modifier</th>
          <td mat-cell *matCellDef="let row; let i=index">
            <mat-icon class="mouseUp" (click)="modifyRow(i)">edit</mat-icon>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container *ngIf="DELETE_TAXE_CIRCULATION" matColumnDef="supprimer">
          <th mat-header-cell *matHeaderCellDef>Supprimer</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon class="mouseUp" (click)="deleteRow(row.id)">delete</mat-icon>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
    <div class="col-6">
      <mat-form-field class="itemPerPage">
        <mat-label>Elements par page</mat-label>
        <mat-select [formControl]="itemPerPageControl">
          <mat-option *ngFor="let item of ItemPerPage" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6 mt-5">
      <pagination-template class="d-flex justify-content-end" #p="paginationApi" [id]="paginConfig.id"
                           (pageChange)="paginConfig.currentPage = $event" maxSize="5"
                           (click)="displayPageContent(paginConfig)">
        <div class="custom-pagination">
          <button mat-flat-button class="pagination-previous" [disabled]="p.isFirstPage()"
                  (click)="p.previous()">
            <span class="previous"><</span>Previous
          </button>
          <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
            <button (click)="p.setCurrent(page.value)"
                    *ngIf="p.getCurrent() !== page.value">{{ page.label }}</button>
            <button class="current" *ngIf="p.getCurrent() === page.value">
              <span>{{ page.label }}</span>
            </button>
          </div>
          <button mat-flat-button class="pagination-next" [disabled]="p.isLastPage()"
                  (click)="p.next()">
            Next<span class="next">></span>
          </button>
        </div>
      </pagination-template>
    </div>
    <button *ngIf="ADD_TAXE_CIRCULATION" class="addButton col-12 mt-5 mb-3" mat-raised-button
            (click)="nouvelleTaxeCirculation()">Nouvelle Taxe de
      circulation
    </button>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
