<div class="container-fluid frame">
  <div class="row">
    <div class="col-12">
      <mat-tab-group>
        <mat-tab label="Cartes Plafond">
          <app-gestion-carte-plafond></app-gestion-carte-plafond>
        </mat-tab>
        <mat-tab label="Cartes Agilis Cash">
          <app-gestion-carte-agilis-cash></app-gestion-carte-agilis-cash>
        </mat-tab>
        <mat-tab label="Cartes Jocker">
          <app-gestion-cartes-jocker></app-gestion-cartes-jocker>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
