@import "src/assets/Scss/Variables";
@import "src/assets/Scss/Shared Classes";


div.container-fluid.m-0.m-0 {
  border: 2px solid $First_Color;
  border-radius: 5px;
}

span.float-right {
  font-size: 15px;
  font-weight: 500;
  color: $First_Color;
}


.title {
  height: 38px;
  background-color: $First_Color;
}


div > div > span.float-right.closeDialog {
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: $First_Color;
  background-color: white;
  padding: 0px 3px 3px 3px;
  width: 17px;
  height: 17px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;


  &:hover {
    color: $First_Color;
  }
}

div > span.float-left {
  color: white;
  padding-left: 10px;
  vertical-align: middle;
  display: flex !important;
  align-items: center;
  padding-top: 7px;
}

div > span.float-left > mat-icon {
  transform: scale(0.7);
}

button {
  vertical-align: middle;
  display: flex !important;
  align-items: center;
  outline: none;
}

button > span > mat-icon {
  transform: scale(0.6);
}

.float-right > button:nth-child(1) {
  background-color: white;
  color: $First_Color;

}

.float-right > button:nth-child(1) {
  background-color: white;
  color: $First_Color;
  border: 1px solid $First_Color;
  font-size: 12px;
}


div.offset-6.col-3 > div > button {
  background-color: white;
  color: $First_Color;
  border: 1px solid $First_Color;
  font-size: 12px;
}


div.col-3 > div > button {
  background-color: $First_Color;
  color: white;
  border: none;
  font-size: 12px;
}

.example-full-width {
  width: 100%;
  font-size: 12px;
}


.personnel_image {
  height: 138px;
}


.custom-file-label {
  font-size: 15px;
  color: black;
}

label.custom-file-label > span {
  color: black;
  position: absolute;
  top: 8px;
  left: 44px;
  font-size: 14px
}

.custom-file {
  position: relative;
  width: 100%;
  height: 34px;
  background-color: white;
  color: black;
}

.custom-file > mat-icon {
  position: absolute;
  left: 10px;
  top: 5px;
  color: #717171;
}

.custom-file > input[type="file"] {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  background-color: transparent;
}

.custom-file span {
  color: black;
  position: absolute;
  top: 8px;
  left: 0px;
  font-size: 14px;
  text-align: center;
}

.mat-card-actions {
  margin-left: -22px;
  margin-right: -8px;
  padding: 0px 0;
}

.mat-card {
  padding: 16px 16px 0px 16px !important;
}


.mat-card-image:first-child {
  margin-bottom: 0px;
}

