<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0">
        <span class="float-left">
          <mat-icon class="mr-2">done_all</mat-icon>
          validation de la demande de recharge de quota mensuel</span>
        <span class="float-right closeDialog" (click)="closeDialog()">X</span>
      </div>
      <div class="col-12 mt-3">
        Voulez-vous valider ce transfert? cette action est irréversible, si vous confirmer votre choix
        vous ne pouvez pas le déconfirmer ultérieurement !
      </div>
      <div class="offset-6 col-3">
        <div class="float-right mt-4 mb-3">
          <button mat-raised-button (click)="onCancelConfirmation()" style="width: 90%">Annuler</button>
        </div>
      </div>
      <div class="col-3">
        <div class="float-right mt-4 mb-3">
          <button mat-raised-button (click)="onConfirmValidation()" style="width: 100%">Valider</button>
        </div>
      </div>
    </div>
  </div>