<div class="container-fluid" [formGroup]="newDistributionForm">
  <div class="row frame">
    <ng-container *ngIf="isDistributionFunction">
      <div class="col-3">
        <mat-form-field>
          <mat-label>Bénéficiaire</mat-label>
          <mat-select formControlName="matriculeBeneficiaireInterne">
            <mat-option *ngFor="let beneficiare of listBeneficiairesInternes" [value]="beneficiare">
              {{beneficiare.matriculeBeneficiaire}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">{{nomBeneficiaireInterne}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>N° véhicule</mat-label>
          <mat-select formControlName="numero_plaque">
            <mat-option *ngFor="let vehicule of listBeneficiairesInternes" [value]="vehicule">
              {{vehicule.numero_plaque}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Quota</mat-label>
          <input matInput type="number" formControlName="quota">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Mois de distribution</mat-label>
          <mat-select formControlName="moisDistribution">
            <mat-option *ngFor="let yearAndMonth of listMonthsAndYears" [value]="yearAndMonth.numericFormat">
              {{yearAndMonth.stringFormat}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngIf="isCompensationDistribution">
      <div class="col-4">
        <mat-form-field>
          <mat-label>Bénéficiaire</mat-label>
          <mat-select formControlName="matriculeBeneficiaireInterne">
            <mat-option *ngFor="let beneficiare of listBeneficiairesInternes" [value]="beneficiare">
              {{beneficiare.matriculeBeneficiaire}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">{{nomBeneficiaireInterne}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label>N° véhicule</mat-label>
          <mat-select formControlName="numero_plaque">
            <mat-option *ngFor="let vehicule of listBeneficiairesInternes" [value]="vehicule">
              {{vehicule.numero_plaque}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label>Mois de distribution</mat-label>
          <mat-select formControlName="moisDistribution">
            <mat-option *ngFor="let yearAndMonth of listMonthsAndYears" [value]="yearAndMonth.numericFormat">
              {{yearAndMonth.stringFormat}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngIf="isVehiculePersonnelDistribution">
      <div class="col-6" *ngIf="isVehiculePersonnelDistribution">
        <mat-form-field>
          <mat-label>Bénéficiaire</mat-label>
          <mat-select formControlName="matriculeBeneficiaireExterne">
            <mat-option *ngFor="let beneficiare of listBeneficiairesExternes" [value]="beneficiare">
              {{beneficiare.matriculeBeneficiaire}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">{{nomBeneficiaireExterne}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Mois de distribution</mat-label>
          <mat-select formControlName="moisDistribution">
            <mat-option *ngFor="let yearAndMonth of listMonthsAndYears" [value]="yearAndMonth.numericFormat">
              {{yearAndMonth.stringFormat}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngIf="isCompensationDistribution">
      <div class="col-12 mt-4">
        Details de la distribution
        <mat-divider class="mb-4"></mat-divider>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Qté du mois précédant</mat-label>
          <input matInput type="number" formControlName="quantiteMoisPrecedant">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Taux de consommation</mat-label>
          <input matInput type="number" placeholder="En litre" formControlName="taux2Consommation">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Nombre de bons</mat-label>
          <input matInput type="number" formControlName="nombre2BonsDetailsDistribution">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Reste</mat-label>
          <input matInput type="number" placeholder="En litre" formControlName="reste">
        </mat-form-field>
      </div>
      <div class="col-12">
        <table mat-table [dataSource]="dataSource1" matSort class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="dateMission">
            <th mat-header-cell *matHeaderCellDef>Date mission</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" formControlName="dateMission">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="destination">
            <th mat-header-cell *matHeaderCellDef>Destination</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input matInput type="text" formControlName="destination">
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="indexKmDepart">
            <th mat-header-cell *matHeaderCellDef>Index au départ</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input matInput type="number" formControlName="indexKmDepart">
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="indexKmArrivee">
            <th mat-header-cell *matHeaderCellDef>Index à l'arrivé</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input matInput type="number" formControlName="indexKmArrivee">
              </mat-form-field>
            </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="distanceParcouru">
            <th mat-header-cell *matHeaderCellDef>Distance parcouru</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input matInput type="number" formControlName="distanceParcouru">
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="droit2Recomponse">
            <th mat-header-cell *matHeaderCellDef>Droit de récompense</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input matInput type="number" formControlName="droit2Recomponse">
              </mat-form-field>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>
      </div>
    </ng-container>
    <div class="col-12 mt-4">
      Distribution
      <mat-divider class="mb-4"></mat-divider>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label>Carburant</mat-label>
        <input matInput type="number" formControlName="quantiteCarburant">
        <mat-hint align="end">{{typeCarburant}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label>Nombre de bons</mat-label>
        <input matInput type="number" formControlName="nombre2Bons">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label>Source de carburant</mat-label>
        <mat-select formControlName="sourceCarburant" [disabled]="disableSourceCarburant">
          <mat-option *ngFor="let source of sourceCarburnat" [value]="source">
            {{source}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="offset-8 col-2 mb-2 mt-5">
      <button
        mat-raised-button class="secondary" (click)="denyCreatingNewDistribution()">Annuler
      </button>
    </div>
    <div class="col-2 mb-2 mt-5">
      <button
        mat-raised-button class="primary" (click)="createNewDistribution()">Confirmer
      </button>
    </div>
  </div>
</div>
