@import "src/assets/Scss/Variables";
@import "src/assets/Scss/Shared Classes";


.typeCarburant {
  font-size: 11px;
  color: $First_Color;
}

.example-full-width {
  width: 100%;
  font-size: 12px;
}
