<div class="container-fluid m-0 p-0 frame" [formGroup]="newReformeForm">
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0 title">
      <span class="float-left">
        <mat-icon class="mr-2">fiber_new</mat-icon>
        <span>Ajouter une nouvelle réforme</span>
            </span>
      <span class="float-right closeDialog" (click)="closeDialog()">X</span>
    </div>

    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Numéro plaque
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <mat-select formControlName="numeroPlaque">
          <mat-option *ngFor="let vehicule of ListVehicules" [value]="vehicule.id">
            {{vehicule.numeroPlaque}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="f.numeroPlaque.invalid">Numero de Plaque est requis</mat-error>   
      </mat-form-field>
    </div>
    <!--<div class="col-4 mt-3">
       <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nom
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput formControlName="nom">
        <mat-error *ngIf="f.nom.invalid">Nom est requis</mat-error>   
      </mat-form-field> 
    </div>-->

    <!--
    <div class="col-4 mt-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Reférence
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput placeholder="" formControlName="reference" type="text">
        <mat-error *ngIf="f.reference.invalid">reference est requise</mat-error>   
      </mat-form-field>
    </div>
    -->


    <!--
    <div class="col-4 mt-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Prix
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput placeholder="" formControlName="prix" type="number">
        <mat-error *ngIf="f.prix.invalid">Prix est requis</mat-error>   
      </mat-form-field>
    </div>
       -->

 
    
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date de réforme
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="f.date.invalid">Date est requise</mat-error>   
      </mat-form-field>
    </div>
    <div class="col-6 mt-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date de sortie
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dateSortie">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="f.dateSortie.invalid">Date Sortie est requise</mat-error>   
      </mat-form-field>
    </div>
    <div class="col-6 mt-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Cause
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <textarea matInput rows="1" formControlName="cause"></textarea>
        <mat-error *ngIf="f.cause.invalid">Cause est requis</mat-error>   
      </mat-form-field>
    </div>
    <div class="offset-6 col-3">
      <div class="float-right mt-4 mb-3">
        <button mat-raised-button (click)="onCancel()" style="width: 90%">Annuler</button>
      </div>
    </div>
    <div class="col-3">
      <div class="float-right mt-4 mb-3">
        <button mat-raised-button (click)="onConfirm()" style="width: 100%" [disabled]="!newReformeForm.valid">Confirmer
        </button>
      </div>
    </div>
  </div>
</div>





