<div class="container-fluid m-0 p-0 frame">
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0 title">
      <span class="float-left">
        <mat-icon class="mr-2">fiber_new</mat-icon>
        <span>Modification d'Inventaire de stock</span>
            </span>
      <span class="float-right closeDialog" (click)="closeDialog()">X</span>
    </div>
    <div class="col-12 mt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 mt-1">
            Inventaire
            <mat-divider class="mb-4"></mat-divider>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Magasin</mat-label>
              <input matInput type="text" [value]="data.element.magasin" readonly>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Mouvement</mat-label>
              <input matInput type="text" [value]="data.element.tMouvement" readonly>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Date</mat-label>
              <input matInput type="text" readonly [value]="data.element.dateInventaire|date: 'dd-MM-yyyy'">
            </mat-form-field>
          </div>
          <div class="col-12 mt-1">
            Détails
            <mat-divider class="mb-4"></mat-divider>
          </div>
          <div class="col-12">
            <table mat-table [dataSource]="dataSource" matSort>


              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let row; let i=index"> {{i + 1}}</td>
              </ng-container>

              <ng-container matColumnDef="codeArticle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                <td mat-cell *matCellDef="let row">
                  {{row.codeArticle}}
                </td>
              </ng-container>

              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Désignation</th>
                <td mat-cell *matCellDef="let row">
                  {{row.designation}}
                </td>
              </ng-container>

              <ng-container matColumnDef="quantite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantité </th>
                <td mat-cell *matCellDef="let row">
                  {{row.quantiteInventaire}}
                </td>
              </ng-container>
                <ng-container matColumnDef="modifier">
                <th mat-header-cell *matHeaderCellDef>Modifier</th>
                <td mat-cell *matCellDef="let row; let i=index">
                  <mat-icon class="mouseUp" (click)="modifyRow(i)" >edit</mat-icon>

                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div class="offset-6 col-3">
            <div class="float-right mt-4 mb-3">
              <button mat-raised-button (click)="onCancel()" style="width: 90%">Annuler</button>
            </div>
          </div>
          <div class="col-3">
            <div class="float-right mt-4 mb-3">
              <button mat-raised-button (click)="onConfirm()" style="width: 100%">Confirmer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
