<div class="container-fluid m-0 p-0 frame" [formGroup]="quantiteForm">
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0 title">
        <span class="float-left">
          <mat-icon class="mr-2">fiber_new</mat-icon>
          <span>Calcul de la consommation</span>
              </span>
        <span class="float-right closeDialog" (click)="closeDialog()">X</span>
      </div>
      <div class="col-12 mt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 mt-3">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Index De Fin mois</mat-label>
                <input matInput type="number" formControlName="index_avant_fin_mois">
              </mat-form-field>
            </div>
            <div class="col-6 mt-3">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Qantite Reservoir (m-1)</mat-label>
                <input matInput type="number" formControlName="qte_reservoir_avant" >
              </mat-form-field>
            </div>
            <div class="col-6 mt-3">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Qauntite Reservoir</mat-label>
                <input matInput type="number" formControlName="qte_reservoir">
              </mat-form-field>
            </div>

            <div class="col-6 mt-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Index de fin de mois</mat-label>
                  <input matInput type="number" formControlName="index_fin_mois">
                </mat-form-field>
              </div>
            <div class="offset-6 col-3">
              <div class="float-right mt-4 mb-3">
                <button mat-raised-button  style="width: 90%" (click)="onCancel()">Annuler</button>
              </div>
            </div>
            <div class="col-3">
              <div class="float-right mt-4 mb-3">
                <button mat-raised-button style="width: 100%" (click)="onConfirm()">Confirmer
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  