<div class="container-fluid m-0 p-0 frame" ngxUiLoaderBlurred [formGroup]="rechargeQuotaMensuelForm">
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0 header">
        <span class="float-left">
          <mat-icon class="mr-2">fiber_new</mat-icon>
          Ajouter une nouvelle rechargeQuotaMensuel</span>
        <span class="float-right closeDialog" (click)="closeDialog()">X</span>
      </div>
      <br>
      <div class="col-4">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Numero carte</mat-label>
          <mat-select formControlName="cartePlafond" 	[(ngModel)] = "rechargeQuotaMensuel.cartePlafond">
            <mat-option *ngFor="let cartePlafond of cartePlafondList" [value]="cartePlafond">
              {{cartePlafond.numeroCarte}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
       
        <div class="col-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom de demandeur</mat-label>
            <input matInput type="text" formControlName="nom" 	[(ngModel)] = "rechargeQuotaMensuel.nom" >
          </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Prenom de demandeur</mat-label>
              <input matInput type="text" formControlName="prenom" 	[(ngModel)] = "rechargeQuotaMensuel.prenom" >
            </mat-form-field>
          </div>
        <div class="col-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Matricule</mat-label>
            <input matInput type="text" formControlName="matricule" 	[(ngModel)] = "rechargeQuotaMensuel.matricule">
          </mat-form-field>
        </div>
        
        <div class="offset-6 col-3">
          <div class="float-right mt-4 mb-3">
            <button mat-raised-button (click)="onCancelAdding()" style="width: 90%">Annuler</button>
          </div>
        </div>
    
        <div class="col-3">
          <div class="float-right mt-4 mb-3">
            <button mat-raised-button (click)="onConfirmAdding()" style="width: 100%"
                    [disabled]="!rechargeQuotaMensuelForm.valid">Confirmer
            </button>
          </div>
  
        </div>
      </div>
    <ngx-ui-loader></ngx-ui-loader>