<div class="container-fluid m-0 p-0 frame">
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0 header">
      <span class="float-left">
        <mat-icon class="mr-2">library_books</mat-icon>
        Plus info d'historique d'annulation sélctionné</span>
      <span class="float-right closeDialog" (click)="closeDialog()">X</span>
    </div>
     <!--
    <div class="col-12 mt-3">
      Identité du demandeur
      <mat-divider class="mb-4"></mat-divider>
    </div>
   
    <mat-radio-group class="col-12 mb-3 mt-2" [value]="data.historiqueDemandeAnnulation.typeDeclarant">
      <div class="d-flex justify-content-center">
        <mat-radio-button class="mr-3" value="Physique">Personne physique</mat-radio-button>
        <mat-radio-button value="Morale">Personne morale</mat-radio-button>
      </div>
    </mat-radio-group>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput type="text" [value]="data.historiqueDemandeAnnulation.nomDeclarant">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Prénom</mat-label>
        <input matInput type="text" [value]="data.historiqueDemandeAnnulation.prenomDeclarant">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Sexe</mat-label>
        <input matInput type="text" [value]="data.historiqueDemandeAnnulation.sexeDeclarant">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date de naissance</mat-label>
        <input matInput type="text" [value]="data.historiqueDemandeAnnulation.dateNaissanceDeclarant">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Lieu de naissance</mat-label>
        <input matInput type="text" [value]="data.historiqueDemandeAnnulation.lieuNaissanceDeclarant">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Numéro CIN</mat-label>
        <input matInput type="text" [value]="data.historiqueDemandeAnnulation.numeroCINDeclarant">
      </mat-form-field>
    </div>
    -->
    <div class="col-12 mt-4">
      Information carte Plafond
      <mat-divider class="mb-4"></mat-divider>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Numéro carte</mat-label>
        <input matInput type="text" [value]="data.historiqueDemandeAnnulation.numeroCarte" disabled>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Type carburant</mat-label>
        <input matInput type="text" [value]="data.historiqueDemandeAnnulation.typeCarburant" disabled>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Montant</mat-label>
        <input matInput type="text" [value]="data.historiqueDemandeAnnulation.montant" disabled>
      </mat-form-field>
    </div>
    <div class="col-12 mt-4">
      Annulation
      <mat-divider class="mb-4"></mat-divider>
    </div>
    <div class="col-12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Cause d'annulation</mat-label>
        <textarea rows="1" matInput [value]="data.historiqueDemandeAnnulation.causeAnnulation"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>


