<div class="container-fluid m-0 p-0">
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
      <span class="float-left">
        <mat-icon class="mr-2">delete</mat-icon>
        Supprimer le genre sélectionné</span>
      <span class="float-right closeDialog" (click)="closeDialog()">X</span>
    </div>
    <div class="col-12 mt-3">
      Voulez vous supprimer ce genre? cette action est irréversible si vous confirmer votre choix !
    </div>
    <div class="offset-6 col-3">
      <div class="float-right mt-4 mb-3">
        <button mat-raised-button (click)="onCancelDelete()" style="width: 90%">Annuler</button>
      </div>
    </div>
    <div class="col-3">
      <div class="float-right mt-4 mb-3">
        <button mat-raised-button (click)="onConfirmDelete()" style="width: 100%">Confirmer</button>
      </div>
    </div>
  </div>
</div>
