@import "src/assets/Scss/Variables";

.logInContainer {
  padding: 35px 0px 35px 0px;
  background-color: #f5f5f5;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.example-form-field {
  width: 200px;
}

.logIn {
  width: 36%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, 0.7);
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-form-field label input {
  max-height: 100px;
}

.loginButton {
  color: white;
  background-color: $First_Color;
  height: 50px;
}

.fa-user-tie {
  font-size: 50px;
  color: white;
}

.userTie {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: $First_Color;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.userImage {
  max-height: 140px;
  max-width: 140px;
  margin: auto;
}

.userImageContainer {
  padding-top: 10px;
  padding-bottom: 70px;
}

.logoContainer {
  background-color: $First_Color;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.col-5.logoContainer > img {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
}


div[class="loginData"] > div:nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.actionStyle {
  font-size: 12px;
  color: $First_Color;
  font-style: oblique;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}


.mat-checkbox {
  font-size: 14px;
}








