<div class="container-fluid m-0 p-0 frame" [formGroup]="modifiedTaxeCirculationForm">
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0 title">
      <span class="float-left">
        <mat-icon class="mr-2">edit</mat-icon>
        <span>Modifier la taxe de circulation sélectionnée</span>
            </span>
      <span class="float-right closeDialog" (click)="closeDialog()">X</span>
    </div>
    <div class="col-4 mt-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Numéro plaque
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput placeholder="" [value]="data.element.numeroPlaque" disabled>
      </mat-form-field>
    </div>
    <div class="col-4 mt-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Numéro de quittance
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput placeholder="" formControlName="numeroQuittance">
      </mat-form-field>
    </div>
    <div class="col-4 mt-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Montant
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput placeholder="" formControlName="montant" type="number">
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Par poids ou places</mat-label>
        <mat-select formControlName="parPoidsOuPlaces">
          <mat-option *ngFor="let parPoidsOuPlaces of ParPoidsOuPlaces" [value]="parPoidsOuPlaces">
            {{parPoidsOuPlaces}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nombre de places</mat-label>
        <input matInput placeholder="" formControlName="nombrePlaces" type="number" [disabled]="!parPlacesOuPoids">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Poids</mat-label>
        <input matInput placeholder="" formControlName="poids" type="number" [disabled]="parPlacesOuPoids">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Début de la date de circulation
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="dateDebutCirculation">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Fin de la date de circulation
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dateFinCirculation">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date fin de validité
          <mat-icon class="required" matSuffix>star</mat-icon>
        </mat-label>
        <input matInput [matDatepicker]="picker3" formControlName="dateFinValidite">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="offset-6 col-3">
      <div class="float-right mt-4 mb-3">
        <button mat-raised-button (click)="onCancel()" style="width: 90%">Annuler</button>
      </div>
    </div>
    <div class="col-3">
      <div class="float-right mt-4 mb-3">
        <button mat-raised-button (click)="onConfirm()" style="width: 100%"
                [disabled]="!modifiedTaxeCirculationForm.valid">Confirmer
        </button>
      </div>
    </div>
  </div>
</div>





